#contanier-main{
    position: relative;
}

#flag{
    width: 500px;
    height: 500px;
    background-color: red;
    margin: 50px auto;
    box-shadow: -4px 4px 8px 4px black;
}

#contanier-flag{
    width: 300px;
    height: 300px;
    position: absolute;
    margin: 100px 100px;
}

.box{
    background-color: white;
    height: 100px;
    width: 100px;
    float: left;
}

#box-1, #box-3, #box-7, #box-9{
    visibility: hidden;
}